<!-- 教材 編集 -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-0">
      <h1>教材編集</h1>
    </div>
  </div>

  <!-- 教材フォーム 呼び出し -->
  <div class="row">
    <%= render 'form', textbook: @textbook%>
  </div>

  <!-- 戻るボタン -->
  <div class="row">
    <div class="col-md-2">
      <%= link_to "戻る", textbook_path(@textbook.id), class: " btn btn-default" %>
    </div>
  </div>
</div>
