<!-- 教材一覧 -->
<div class="container">
	<!-- ページネーション上部 gem kaminari -->
	<div class="row">
		<div class="text-center">
			<%= paginate(@textbooks) %>
		</div>
	</div>

	<!-- 教材一覧 表示 -->
	<div class="row">
		<%= render 'textbooks/textbook_box' %>
		<br>
	</div>

	<!-- ページネーション下部 gem kaminari -->
	<div class="row">
		<div class="text-center">
			<%= paginate(@textbooks) %>
		</div>
	</div>

	<!-- 登録ボタン 教材新規 -->
	<div class="row">
		<%= link_to '追加する', new_textbook_path, class:"btn btn-success form-control" %>	
	</div>
</div>
