<div class="jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-xs-6 col-xs-offset-0">
        <h1>教材登録</h1>
      </div>
    </div>

    <%= render 'form', books: @textbook%>

  </div> 
</div>
