<div class="jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-0">
        <h1>新規教材</h1>
      </div>
    </div>

    <%= render 'form', textbook: @textbook%>

  </div> 
</div>
