<!-- 教材 登録 -->
<div class="container">
	<!-- ページ名 -->
  <div class="row">
    <div class="col-md-6 col-md-offset-0">
      <h1>新規教材</h1>
    </div>
  </div>

  <!-- 教材フォーム呼び出し -->
  <div class="row">
    <%= render 'form', textbook: @textbook%>
  </div>
</div>
