<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<%= render 'users/template', user: @user%>
		</div>
	</div>

	<div class="row">
			<%= link_to "勉強時間追加", new_study_time_path(current_user.id), class: " btn btn-default", style: "border-radius: 100%" %>	
			<%= link_to "時間履歴", study_times_path(current_user.id), class: " btn btn-default", style: "border-radius: 100%" %>	
	</div>

	<div class="row">
		<div id="calendar"></div>
	</div>

</div>
