<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'users/template', user: @user%>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-0">
			<%= link_to "+", new_study_time_path(current_user.id), class: " btn btn-default", style: "border-radius: 100%" %>	
		</div>
		
	</div>

	<div class="row">
		<div id="calendar"></div>
	</div>

</div>
