<div class="container">
    <div class="row">
        <div class="col-md-12 front-image">
            <br>
                <h1>　STUDY-SUPPORT</h1>
        </div>
    </div>

    <%# 週間学習時間ランキング %>

</div>


