<div class="container">
    <div class="row">
        <div class="col-md-12 top-image">
                <h1>STUDY-SUPPORTへようこそ！</h1>
                <h2>このサイトは、あなたの勉強をサポートする為の機能を備えています</h2>
        </div>
    </div>

    <div class="row">
    <footer>
        <p> 2020.06 </p>
        <div class="introduction">
            <h3>ポートフォリオ制作</h3>
        </div>
    </footer>
    </div>
</div>


