<%# フロントページ画像表示 %>
<div class="row">
  <div class="col-md-12 front-image">
    <br>
    <h1>　STUDY-SUPPORT</h1>
  </div>
</div>

<%# ランキング表示 %>
<h3>累計勉強時間 上位10名</h3>
<table class="table"  BORDER='3' style="table-layout:fixed;width:100%;" >
  <% @user.each do |user| %>
    <tr>
      <td style="width:30%; height:30px">
        <strong ><%= user.experience_point %>時間</strong> 
      </td>
      <td style="width:20%; height:30px">
        <strong >Lv.<%= user.level %></strong> 
      </td>
      <td style="width:50%; height:30px">
        <%= user.last_name %><%= user.first_name %> 
      </td>
    </tr>
  <% end %>
</table>