<div class="jumbotron">
    <div class="container">

        <div class="row">
            <div class="col-xs-6 col-xs-offset-0">
                <h1>STUDY-SUPPORT</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
                <p>ようこそ！</p>
                <p>このサイトは、あなたの勉強をサポートする為の機能を備えています</p>
            </div>
        </div>

    </div>
</div>
