<div class="container">
    <div class="row">
		<table class="table"  BORDER='2' style="table-layout:fixed;width:100%;" >
			<thead>
				<tr class="active">
					<th>記録日</th>
					<th>学習時間</th>
					<th>内容</th>
				</tr>
			</thead>
			<tbody>
                <% @study_times.each do |study_time| %>
				<tr>
					<td><%= study_time.created_at.strftime("%Y/%m/%d") %></td>
					<td><%= study_time.time %>　(h)</td>
					<td><%= study_time.comment %></td>
			<% end %>
			</tbody>
		</table>
    </div>
</div>