<div class="container">
	<div class="row">
        <table class="table table-hover table-resposive">
            <thead>
                <tr class="active">
                    <th>曜日</th>
                    <th>学習時間</th>
                    <th>科目名</th>
                    <th>コメント</th>
                </tr>
            </thead>
            <tbody>
                <% @study_times.each do |study_time| %>
                        <tr>
                    <td>
                        <%= study_time.day %>
                    </td>
                    <td>
                        <%= link_to study_time.time, study_time_path(study_time.id) %>
                    </td>
                    <td>
                        <%= link_to study_time.genre, study_time_path(study_time.id) %>
                    </td>
                    <td>
                        <%= study_time.comment %>
                    </td>
                <% end %>
            </tbody>
        </table>
    </div>
    </div>
</div>