<div class="jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0">
        <h1>今日の学習時間</h1>
      </div>
    </div>

    <%= render 'form', study_time: @study_time%>

  </div> 
</div>
