/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/
// カラーリスト
$dark		 : #142850;
$mid-dark : #27496d;
$mid-light: #00909e;
$light	 : #dae1e7;
$btn-active: #25b7c0;

$header-height: 120px;

// ヘッダー
header {
	width: 100%;
	height: $header-height;
	background-color: $dark;
	}

	.top-image {
		width: 100%;
		height: 700px;
		background-image: image-url("study.image.jpg");
		background-size: cover;
	  }
