/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";

a {
  text-decoration: none;
  color: #4b4b4b;
}
a:hover {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic",
    YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, "Open Sans", sans-serif;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic",
    YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, "Open Sans", sans-serif;
  margin: 0px;
  -webkit-text-size-adjust: 100%;
}

.hwrapper {
  width: 100%;
  background-color: #ffffff;
}

.header {
  margin: auto;
  max-width: 1000px;
  padding: 10px;
  display: flex;
  align-items: center;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.glovalNavigation {
  margin: 0px;
  padding: 15px;
  position: relative;
  border-bottom: #dddddd solid 1px;
  border-top: #dddddd solid 1px;
  text-align: center;
}

.container {
  margin: auto;
  max-width: 1000px;
  background-color: #fff;
}

.localNavigation {
  margin: 0px;
  padding: 15px;
  position: relative;
  border-bottom: #dddddd solid 1px;
  border-top: #dddddd solid 1px;
  text-align: center;
  background-color: #fff;
}

.fwrapper {
  width: 100%;
  background-color: #222;
}

.footer {
  margin: auto;
  height: 40px;
  max-width: 1000px;
  padding: 10px; /*これを書かないとフッターの下に余白ができてしまう*/
  font-size: 80%;
  color: #888;
  text-align: center;
}

.copyright {
  border-top: 1px solid #888;
  text-align: right;
  margin: 20px auto 0;
  padding: 10px 0;
  font-size: 0.85em;
  color: #888;
}

// body {
//   font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic",
//     YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, "Open Sans", sans-serif;
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     background-color: #eeeeee;
// }
// .header {
//   height: 70px;
//   display: flex;
//   align-items: center;
//   background-color: #fff;
// }
// nav {
//   margin: 0 0 0 auto;
// }
// ul {
//   list-style: none;
//   margin: 0;
//   display: flex;
// }
// li {
//   margin: 0 0 0 15px;
//   font-size: 14px;
// }
// .glovalNavigation {
//   margin: 0px;
//   padding: 15px;
//   position: relative;
//   border-bottom: #dddddd solid 1px;
//   border-top: #dddddd solid 1px;
//   text-align: center;
// }

// .content {
//   flex: 1;
//   background-color: #fff;
//   // text-align: center;
//   margin: 10px 0 10px 0;
// }
// .localNavigation {
//   height: 70px;
//   text-align: center;
//   background-color: #888;
//   color: #fff;
// }

/*トップページ画像のデザイン*/
.front-image {
  width: 100%;
  height: 500px;
  background-image: image-url("study.image.jpg");
  background-size: cover;
}

.front-image h1 {
  color: white;
}

/*ページネーションを中央に*/
.text-center {
  text-align: center;
}

/*ページネーション自体のデザイン*/
.pagination > li > a {
  border: none; /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #93c9ff; /*背景の色を変える*/
  border-radius: 15px; /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  border-radius: 15px; /*角を丸くする*/
}

// /* _textbook_box.html.erb
// /* タブエリアのdivへの適用 */
// #smallArea {
//   /* 基本的なサイズの設定 */
//   background-color: #bbedce;
//   //   width: 80px;
//   //   height: 26px;
//   //   padding-top: 4px;

//   /* borderに関する設定 */
//   border: 1px solid; /* 線の太さと可視化 */
//   border-bottom: transparent; /* 下辺を透明に */
//   border-top-left-radius: 8px; /* 左上を角丸に */
//   border-top-right-radius: 8px; /* 右上を角丸に */

//   /* メイン表示エリアの線の太さだけ下にずらす */
//   margin-bottom: -1px;

//   /* その他の設定 */
//   position: relative;
//   text-align: center;
// }

// /* メイン表示エリアのdivへの適用 */
// #largeArea {
//   /* 基本的なサイズの設定 */
//   background-color: #fff;
//   //   width: 200px;
//   //   height: 40px;
//   //   padding: 20px;

//   /* 枠線を太さ1pxで表示 */
//   border: 1px solid;
//   border-bottom-left-radius: 8px; /* 左下を角丸に */
//   border-bottom-right-radius: 8px; /* 右下を角丸に */
// }

// /* メイン表示エリアのdivへの適用 */
// #underArea {
//   /* 基本的なサイズの設定 */
//   background-color: #fff;
//   //   width: 200px;
//   //   height: 40px;
//   //   padding: 20px;

//   //   /* 枠線を太さ1pxで表示 */
//   //   border: 1px solid;
// }

// /* コンテンツを見やすく表示 */
// .disp-area {
//   margin-top: 20px;
//   margin-left: 20px;
// }

.UserIcon-image {
  border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
  // background-position: left top; /* 横長画像の左上を基準に表示 */
  // display: inline-block; /* 複数の画像を横に並べたい場合 */
}
