/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";

a {
  text-decoration: none;
  color: #4b4b4b;
}
a:hover {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic",
    YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, "Open Sans", sans-serif;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic",
    YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, "Open Sans", sans-serif;
  margin: 0px;
  -webkit-text-size-adjust: 100%;
}

// headerデザイン
.hwrapper {
  width: 100%;
  background-color: #ffffff;
}

.header {
  margin: auto;
  max-width: 1000px;
  padding: 10px;
  display: flex;
  align-items: center;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

.glovalNavigation {
  margin: 0px;
  padding: 15px;
  position: relative;
  border-bottom: #dddddd solid 1px;
  border-top: #dddddd solid 1px;
  text-align: center;
}

.container {
  margin: auto;
  max-width: 1000px;
  background-color: #fff;
}

// footerデザイン
.localNavigation {
  margin: 0px;
  padding: 15px;
  position: relative;
  border-bottom: #dddddd solid 1px;
  border-top: #dddddd solid 1px;
  text-align: center;
  background-color: #fff;
}

.fwrapper {
  width: 100%;
  background-color: #222;
}

.footer {
  margin: auto;
  height: 40px;
  max-width: 1000px;
  padding: 10px; /*これを書かないとフッターの下に余白ができてしまう*/
  font-size: 80%;
  color: #888;
  text-align: center;
}

.copyright {
  border-top: 1px solid #888;
  text-align: right;
  margin: 20px auto 0;
  padding: 10px 0;
  font-size: 0.85em;
  color: #888;
}

// トップページ画像のデザイン
.front-image {
  width: 100%;
  height: 500px;
  background-image: image-url("study.image.jpg");
  background-size: cover;
}

.front-image h1 {
  color: white;
}

// ページネーションデザイン
// ページネーションを中央に
.text-center {
  text-align: center;
}

// ページネーション自体のデザイン
.pagination > li > a {
  border: none; /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}

// 表示しているページ番号のデザイン
.pagination > .active > a {
  background: #93c9ff; /*背景の色を変える*/
  border-radius: 15px; /*角を丸くする*/
}

// ホバー時のデザイン
.pagination > li > a:hover {
  border-radius: 15px; /*角を丸くする*/
}

// ユーザーアイコンのデザイン
.UserIcon-image {
  border-radius: 50%; /* 角丸半径を50%の円にする */
}
